<div class="hamburger-menu">
  <input id="toggle-menu" type="checkbox" />
  <label class="menu-btn" for="toggle-menu">
    <span></span>
  </label>
  <ul class="menu-box">
    <div class="logo-wrapper">
      <a href="https://github.com/jobeljohny/split-me" target="_blank">
        <img src="../../../assets/main-logo.png" alt="split-me" />
      </a>
    </div>
    <li (click)="onHelp()"><a class="menu-item">About</a></li>
    <li>
      <a class="menu-item" href="mailto:jobeljohny@gmail.com">Contact</a>
    </li>
    <li>
      <a
        class="menu-item"
        href="https://github.com/jobeljohny/split-me/issues/new"
        target="_blank"
        >Report an issue</a
      >
    </li>
  </ul>
</div>
