<!-- Modal HTML -->
<img
  id="remove-button"
  mat-icon-button
  tabindex="-1"
  src="../../../assets/cancel.png"
  (click)="dialogRef.close()"
/>

<div class="dialog-body">
  <div class="table-stats-container">
    <div class="table-wrap">
      <app-break-up-table></app-break-up-table>
    </div>
    <div class="graph-wrap">
      hi! i am excited
      <div class="summary-panel">
        <span (click)="viewSummary()">View individual summaries</span>
      </div>
    </div>
  </div>
  <div class="data-panel">
    <app-break-up-info></app-break-up-info>
  </div>
</div>
