<div class="help-wrapper">
  <div class="sidebar">
    <ul>
      <li (click)="showText('About')">About</li>
      <li (click)="showText('Help')">Help</li>
      <li (click)="showText('Keyboard shortcuts')">Keyboard shortcuts</li>
      <li (click)="showText('Release notes')">Release notes</li>
    </ul>
  </div>

  <div class="content" id="content">
    <div *ngIf="currentDisplay == 'About'" id="About">About content</div>
    <div *ngIf="currentDisplay == 'Help'" id="Help">
      Help content
      <div><img src="../../../../assets/dish.png" /></div>
    </div>
    <div *ngIf="currentDisplay == 'Keyboard shortcuts'" id="Keyboard_shortcuts">
      Keyboard shortcuts content
    </div>
    <div *ngIf="currentDisplay == 'Release notes'" id="Release_notes">
      Release notes
    </div>
  </div>
  <div></div>
</div>
