@import "../../styles/palette.scss";
$imp-color: $primary-button;
.upload-files-container {
  padding: 30px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .warn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 6px 16px;
    border-radius: 4px;
    width: 500px;
    background-color: $primary-color;
    img {
      width: 15px;
      margin-right: 2px;
    }
    span {
      font-size: 0.8rem;
      font-weight: 300;
    }
  }
  .drag-file-area {
    border: 2px dashed $primary-color;
    border-radius: 30px;
    margin: 10px 0 15px;
    padding: 20px 50px;
    width: 350px;
    text-align: center;

    .upload-icon {
      width: 50px;
    }
    h3 {
      font-size: 1.2rem;
      margin: 15px 0;
      font-family: Tahoma, sans-serif;
    }
    label {
      font-size: 1rem;
      display: block;
      .browse-files {
        .default-file-input {
          height: 0px;
          opacity: 0;
        }
        .browse-files-text {
          color: $imp-color;
          font-weight: bolder;
          cursor: pointer;
        }
      }
    }
  }
  .after-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    border: 1px solid $border-line;
    border-radius: 8px;
    padding: 10px 10px;
    width: 500px;

    .file-info {
      img {
        width: 18px;
        margin-right: 4px;
      }
      span {
        font-size: 0.8rem;
      }
    }
    .reset-file-picker {
      color: $imp-color;
      font-weight: bolder;
      cursor: pointer;
    }
  }
  .bill-display-container {
    .image-titles {
      display: flex;
      margin-bottom: 4px;
      margin-top: 6px;
      opacity: 0.8;
      .img-title {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
        font-size: 0.9rem;
      }
      
    }
    .bill-display-image-holders {
      display: flex;
      height: 300px;
      width: 500px;
      gap: 8px;
      image-cropper {
        --cropper-overlay-color: #69696900;
        --cropper-outline-color: #21213440;
        border: 1px solid $border-line;
        border-radius: 4px;
        flex-grow: 1;
        flex-basis: 0;
      }
      .preview-wrapper {
        flex-grow: 1;
        flex-basis: 0;
        border: 1px solid $border-line;
        border-radius: 4px;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.upload-button {
  background-color: $imp-color;
  color: white;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 18px;
  margin: 10px;
  padding: 8px 30px;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    color: #e6e6e6;
    opacity: 0.4;
  }
}

.fileover {
  background-color: rgba(160, 185, 253, 0.245);
}

@media only screen and (max-width: 576px) {
  .upload-files-container {
    .warn-box {
      flex-direction: column;

      img {
        margin-right: 0px;
        margin-bottom: 4px;
      }
      span {
        font-size: 0.8rem;
        text-align: center;
      }
    }
    .drag-file-area {
      padding: 20px 20px;
      width: 90%;
    }
  }
}
