@import "../../styles/palette.scss";
.panel-content {
    height: 100%;
    display: flex;
    .stat-item {
      flex-basis: 0;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        filter: $theme-filter;
        width: 20px;
        margin-right: 6px;
      }
      .stat{
        font-size: 0.9rem;
      }
      .seperator{
        opacity: 0.5;
      }
      .icon-jump{
        margin-top: -2px;
      }
    }
  }


@media only screen and (max-width: 576px) {
  .panel-content {
    .stat-item{
      img{
        width:12px;
        margin-right: 4px;
      }
      .stat{
        font-size: 0.6rem;
      }
      .label{
        display: none;
      }
    }
    
  }
}
